{% extends 'base.html' %}

{% block contents %}
	<div class="profile row">
		<h2>Profile for {{ coder.user.username }}</h2>

		<ul class="list-unstyled">
			<li>
				<span class="key">Name</span>
				<span class="value">{{ coder.name }}</span>
			</li>
			<li>
				<span class="key">Tagline</span>
				<span class="value">{{ coder.tagline }}</span>
			</li>
			<li>
				<span class="key">Level</span>
				<span class="value">{{ coder.level }}</span>
			</li>
			<li>
				<span class="key">About</span>
				<span class="value">{{ coder.about }}</span>
			</li>
			<li>
				<span class="key">Challenges</span>
				<ul>
				{% for participant in coder.participant_set.all %}
					<li><a href="{% url 'challenge:detail' participant.challenge.id %}">{{ participant.challenge }}</a></li>
				{% endfor %}
				</ul>
			</li>
		</ul>
	</div>

	{% block rw %}
	{% endblock %}

{% endblock %}