{% extends 'base.html' %}

{% block contents %}
	<div class="profile col-md-6 col-lg-6">
		<h2>
			<img class="gravatar" src="{{ coder.avatar_url }}" alt="{{ coder.webname }}'s gravatar" />
			{{ coder.webname }}
			<small>{{ coder.tagline }}</small>
		</h2>

		<p>A {{ coder.level.name }} with {{ coder.xp }} XP.</p>

		<p>{{ coder.about }}</p>
	</div>

	{% block rw %}
	{% endblock %}

	<div class="row">
		<aside class="col-md-6 col-lg-6">
			<h4>Challenges</h4>
			<ul class="nav nav-pills nav-stacked pull-left">
				{% for participant in coder.participant_set.all %}
					<li><a href="{% url 'challenge:detail' participant.challenge.id %}">{{ participant.challenge }}</a></li>
				{% endfor %}
				</li>
			</ul>
		</aside>
	</div>

{% endblock %}