{% extends 'base.html' %}

{% block contents %}

	<header>
		<h1>Challenges</h1>
		{% if user.is_authenticated and user.coder %}
		<a class="btn btn-primary" href="{% url 'challenge:create' %}">Create Challenge</a>
		{% endif %}
	</header>

	<ul class="list-unstyled">
	{% for challenge in challenge_list %}
		<li>
			<a href="{% url 'challenge:detail' challenge.id %}">{{ challenge.name }}</a>
			<span class="badge badge-info">{{ challenge.participant_set.all|length }} participating</span>
		</li>
	{% endfor %}
	</ul>

{% endblock %}