{% extends 'base.html' %}

{% block contents %}

<form action="{% url 'challenge:create' %}" method="post" class="col-12 col-lg-5 text-left">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group">
			{{ field.label }}
			{{ field }}
			{{ field.errors }}
		</div>
	{% endfor %}

	<div id="js-rules">
		{{ rule_formset.as_p }}
		<button type="button" onclick="AddRule();">Add Rule</button>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-lg">Create</button>
	</div>
</form>

{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
	var $totalForms = $('#id_rule_set-TOTAL_FORMS');
	var ruleCount = parseInt($totalForms.val());

	function AddRule() {
		$('#js-rules').append('\
			<p>\
				<label for="id_rule_set-' + ruleCount + '-description">Description:</label>\
				<textarea cols="40" id="id_rule_set-' + ruleCount + '-description" name="rule_set-' + ruleCount + '-description" rows="10"></textarea>\
				<button type="button" onclick="DeleteRule(this);">Delete</button>\
				<input id="id_rule_set-' + ruleCount + '-challenge" name="rule_set-' + ruleCount + '-challenge" type="hidden" />\
				<input id="id_rule_set-' + ruleCount + '-id" name="rule_set-' + ruleCount + '-id" type="hidden" />\
			</p>\
		');
		
		$totalForms.val(++ruleCount);
	}

	function DeleteRule(btn) {
		$(btn).parent('p').remove();
	}

</script>

{% endblock %}