{% extends 'base.html' %}

{% block contents %}

	<header>
		<h1>Challenges</h1>
	</header>

	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12">
		<ul class="nav nav-pills nav-stacked col-lg-3 col-xs-12 col-md-3">
		{% if user.is_authenticated and user.coder %}
			<li><a href="{% url 'challenge:create' %}"><i class="fa fa-plus-circle"></i> Create a new Challenge</a></li>
			<li><hr/></li>
		{% endif %}
		{% for challenge in challenge_list %}
			<li>
				<a href="{% url 'challenge:detail' challenge.id %}">
					{{ challenge.name }}
					<span class="badge" title="{{ challenge.participant_set.count }} coder{{ challenge.participant_set.count|pluralize }} participating in this challenge">{{ challenge.participant_set.count }}</span>
					{% if challenge in challenges_im_in %}
					<span class="label label-success" title="You are participating in this challenge"><i class="fa fa-check"> </i></span>
					{% endif %}
				</a>
			</li>
		{% endfor %}
		</ul>
		</div>
	</div>
{% endblock %}

{% block extrascripts %}
	<script>
		$('[title]').tooltip({
			delay: {
				show: 1000,
				hide: 0
			}
		});
	</script>
{% endblock %}