{% extends 'base.html' %}

{% block contents %}

    <header>
        <h1>
            <a href="{% url 'challenge:detail' challenge.id %}">{{ challenge.name }}</a>
            <small>Maintenance</small>
        </h1>
    </header>

    <section class="col-lg-4 col-md-12">
        <form action="{% url 'challenge:maintain' challenge.id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <fieldset id="js-rules" class="challenge-rules">
                {{ rule_formset.management_form }}
                <legend>Rules</legend>
                <ul class="nav nav-pills nav-stacked col-lg-4 col-md-4 float-left">
                    <li><a href="#" onclick="AddRule(); return false;"><i class="fa fa-plus-circle"></i> Add Rule</a></li>
                </ul>
                <ul data-rule-list class="col-lg-12 col-md-12 list-unstyled">
                {% for field in rule_formset %}
                    <li data-rule-container class="row">
                        {{ field.id }}
                        <div class="col-lg-10 col-md-10">
                            {{ field.description }}
                        </div>
                        <button title="Delete" class="btn btn-danger" type="button" onclick="DeleteRule(this, {{ field.id.value }});"><i class="fa fa-times"></i></button>
                        {{ field.errors }}
                    </li>
                {% endfor %}
                </ul>
                <ul class="nav nav-pills nav-stacked col-lg-4 col-md-4 float-left">
                    <li><a href="#" onclick="AddRule(); return false;"><i class="fa fa-plus-circle"></i> Add Rule</a></li>
                </ul>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </form>
    </section>

{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
    var KEY_ENTER = 13,
        KEY_ESCAPE = 27;

    var $totalForms = $('#id_rule_set-TOTAL_FORMS'),
        ruleCount = parseInt($totalForms.val());

    function AddRule() {
        $.get('/challenge/add_rule_template/' + ruleCount, function(data) {
            var $new = $(data).hide();
            $('#js-rules > *:last').before($new);
            $new.fadeIn();
            $totalForms.val(++ruleCount);
        });
    }

    function DeleteRule(btn, rule_id) {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' };

        $.post('/challenge/rule/' + rule_id + '/delete', postData, function(data) {
            if (data == 'yay') {
                $(btn).parents('[data-rule-container]').fadeOut(400, function() { this.remove(); });
                ruleCount--;
            }
        });
    }

</script>

{% endblock %}
