{% extends 'base.html' %}

{% block contents %}

	<header>
		<h1>
			Challenges
			{% if user.is_authenticated and user.coder %}
			<small><a href="{% url 'challenge:create' %}"><i class="fa fa-plus-circle"></i></a></small>
			{% endif %}
		</h1>
	</header>

	<ul class="nav nav-pills nav-stacked">
	{% for challenge in challenge_list %}
		<li>
			<a href="{% url 'challenge:detail' challenge.id %}">
				{{ challenge.name }}
				<span class="badge" title="Number of coders participating in this challenge">{{ challenge.participant_set.count }}</span>
				{% if challenge in challenges_im_in %}
				<span class="label label-success" title="You are participating in this challenge"><i class="fa fa-check"></i></span>
				{% endif %}
			</a>
		</li>
	{% endfor %}
	</ul>

{% endblock %}

{% block extrascripts %}
	<script>
		$('[title]').tooltip({
			delay: {
				show: 1000,
				hide: 0
			}
		});
	</script>
{% endblock %}