{% extends 'base.html' %}

{% block contents %}

<form action="{% url 'challenge:create' %}" method="post" class="col-12 col-lg-5 text-left">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group">
			{{ field.label }}
			{{ field }}
			{{ field.errors }}
		</div>
	{% endfor %}

	<div id="js-rules">
		{{ rule_formset.as_p }}
		<button type="button" id="js-addrule">Add Rule</button>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-lg">Create</button>
	</div>
</form>

<script type="text/javascript">
	// <p>
	// 	<label for="id_rule_set-0-description">Description:</label>
	// 	<textarea cols="40" id="id_rule_set-0-description" name="rule_set-0-description" rows="10"></textarea>
	// 	<input id="id_rule_set-0-challenge" name="rule_set-0-challenge" type="hidden" />
	// 	<input id="id_rule_set-0-id" name="rule_set-0-id" type="hidden" />
	// </p>

	$('#js-addrule').click(function() {
		$('#js-rules').append('aaa');
	});
</script>

{% endblock %}