{% extends 'base.html' %}

{% block contents %}

	<header>
		<h1>
			{{ challenge.name }}
			{% if is_owner %}
			<a href="{% url 'challenge:maintain' challenge.id %}"><i class="fa fa-pencil"></i></a>
			{% endif %}
			<small>
				{% if user.is_authenticated %}
					{% if participant %}
					<a title="Leave this challenge" href="{% url 'challenge:leave' challenge.id %}"><i class="fa fa-minus-square"></i></a>
					{% else %}
					<a title="Join this challenge" href="{% url 'challenge:join' challenge.id %}"><i class="fa fa-plus-square"></i></a>
					{% endif %}
				{% endif %}
			</small>
			<small>
				{{ challenge.duration }} day{{challenge.duration|pluralize}}
			</small>
		</h1>
	</header>

	<div class="small">

	{% include 'challenge/rules.html' with challenge=challenge %}

	{% include 'challenge/stats.html' with challenge=challenge participant=participant %}

	{% include 'challenge/participants.html' with challenge=challenge %}

	{% include 'challenge/entries.html' with challenge=challenge participant=participant %}

	{% include 'challenge/challenge_comments.html' with challenge=challenge can_comment=can_comment %}

	</div>

{% endblock %}
