{% extends 'base.html' %}

{% block contents %}
<div class="row">
    <form action="{% url 'challenge:create' %}" method="post" class="col-12 col-lg-5 text-left">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        <div id="js-rules">
            {{ rule_formset }}

            <ul class="list-unstyled pull-left nav nav-pills nav-stacked">
                <li><a href="#" onclick="AddRule(); return false;"><i class="fa fa-plus-circle"></i> Add Rule</a>
            </ul>
        </div>

        <div class="col-lg-12 col-md-12">
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extrascripts %}

<script type="text/javascript">
    var $totalForms = $('#id_rule_set-TOTAL_FORMS'),
        ruleCount = parseInt($totalForms.val());

    function AddRule() {
        $.get('/challenge/add_rule_template/' + ruleCount, function(data) {
            var $new = $(data).hide();
            $('#js-rules').append($new);
            $new.fadeIn(); // JUICY
            $totalForms.val(++ruleCount);
        });
    }

    function DeleteRule(btn) {
        $(btn).parents('[data-rule-container]').fadeOut(400, function() { this.remove(); });
        ruleCount--;
    }

</script>

{% endblock %}