{% extends 'base.html' %}
{% load codertags %}

{% block contents %}

	<header class="col-md-6 col-lg-6">
		<h1>
			{{ entry.name }}
			<small>
				for <a href="{% url 'challenge:detail' challenge.id %}">{{ challenge.name }}</a>
			</small>
		</h1>

		<p>{{ entry.description }}</p>
		<strong><a class="btn btn-primary" href="{{ entry.thefile.url }}"><i class="fa fa-download"></i> Download {{ entry.name }}</a></strong>
	</header>

	<section class="col-md-6 col-lg-6">
		<h4>This submission is by:</h4>
		{% coder entry.participant.coder %}
	</section>

	{% include 'challenge/entry_comment_box.html' with challenge=challenge entry=entry can_comment=can_comment comment_form=comment_form %}

	<aside class="col-md-6 col-lg-6">
		<h3>Screenshots</h3>
		<div class="col-md-8 col-lg-8">
			<ul class="screenshots nav nav-pills">
			{% for ss in entry.entryscreenshot_set.all %}
				<li>
					<a href="{{ ss.pic.url }}" title="screenshot for {{ challenge.name }}">
						<img src="{{ ss.thumbnail.url }}" alt="screenshot for {{ challenge.name }}" />
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% if can_comment %}
		<div class="col-md-4 col-lg-4">
			<form action="{% url 'challenge:submit_entry_screenshot' challenge.id entry.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% for field in screenshot_form %}
				<div class="form-group">
					{{ field.label }}
					{{ field }}
					{{ field.errors }}
				</div>
				{% endfor %}
				<button type="submit" class="btn btn-sm btn-default"><i class="fa fa-upload"></i> Upload</button>
			</form>
		</div>
		{% endif %}
	</aside>

	{% include 'challenge/entry_comments.html' with challenge=challenge entry=entry can_comment=can_comment comment_form=comment_form %}

{% endblock %}

{% block extrascripts %}
	<script>
		$('[title]').tooltip({container: 'body', delay:{show:1000,hide:0}});
	</script>
{% endblock %}
