{% load codertags %}
	<section class="col-xs-12 col-md-6 col-lg-6">
		{% if challenge.participant_set.count > 0 %}
		<h3>{{ challenge.participant_set.count }} Coder{{ challenge.participant_set.count|pluralize }} Participating:</h3>
		<ul class="nav nav-pills nav-stacked pull-left">
			{% for participant in challenge.participant_set.all %}
			<li>
				{% coder participant.coder %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<a title="Join this challenge" class="btn btn-lg btn-primary" href="{% url 'challenge:join' challenge.id %}">Join Challenge</a>
		{% endif %}
	</section>

