	<section class="pull-left col-md-6 col-lg-6">
		<h3>
			Rules
			{% if is_owner %}
			<a href="#" onclick="AddRule();"><i class="fa fa-plus-circle"></i></a>
			{% endif %}
		</h3>

		<ul data-rule-list>
		{% for rule in challenge.rule_set.all %}
			<li data-rule-container>
				{% if is_owner %}
					<span data-span>{{ rule.description }}</span>
					<textarea data-input type="text" class="form-control" rel="description" style="width: 80%; display:none;">{{ rule.description }}</textarea>
					<a title="Edit Rule" href="#" onclick="MakeRuleEditable(this, {{ rule.id }});"><i class="fa fa-pencil"></i></a>
					<a title="Delete Rule" href="#" onclick="DeleteRule(this, {{ rule.id }});"><i class="fa fa-times"></i></a>
				{% else %}
					{{ rule.description }}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</section>