{% extends 'base.html' %}

{% block contents %}
	<div class="row">
		{% if user.is_authenticated %}
		<p>You are already registered. Are you sure you wish to register again?</p>
		{% endif %}

		{% if form.errors %}
		<p class="alert alert-danger">There was a problem registering. Review the errors below and try again.</p>
		{% endif %}

		<form action="{% url 'auth:register' %}" method="post" class="col-12 col-lg-5 text-left">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group">
		            {{ field.label }}
					{{ field }}
		            {{ field.errors }}
				</div>
			{% endfor %}
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">Register</button>
			</div>
		</form>
	</div>
{% endblock %}