body {
	overflow-x: hidden;
	background: @gray-dark url('../i/bgtexture2.png') repeat; 
}

#binary_canvas { 
	position: absolute;
	z-index: -1;
}

#contents {
	padding-bottom: @footer-height;
}

h1 { font-weight: 200; }
h1,h2,h3 { margin: 0; }

strong { font-weight: 600; }

ol {
	margin-top: 0.5em;
	list-style-type: none;	
	counter-reset: ol-counter;

	& > li {
		position: relative;
		margin-bottom: 0.5em;

		&:before {
			position: absolute;
			display: inline-block;
			top: 0;
			left: -1.75em;
			width: 1.5em;
			height: 1.35em;

			line-height: 1;
			text-align: center;

			content: counter(ol-counter);
			counter-increment: ol-counter;

			border: solid 1px @brand-primary;
			background-color: darken(@brand-primary, 20%);
			border-radius: 50%;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
		}
	}
}

ul {	
	& > li {
		display: block;
		-webkit-animation: fadein .5s;
		-moz-animation: fadein .5s;
		animation: fadein .5s;
	}

	&.collapsed {
		&.collapsed-coder > li:nth-child(n+8),
		&.collapsed-comment > li:nth-child(n+4),
		{
			opacity: 0;
			display: none;
		}
	}
}

footer {
	background-color: darken(@body-bg, 5%);
	border-top: solid 1px #000;
	box-shadow: inset 0 3px 3px rgba(0,0,0,0.6);
	padding: 0.5em;
}

aside {
	background-color: lighten(@gray-dark, 5%);
	border: solid 1px @gray-dark;
	//border-radius: @border-radius-base;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
	color: @gray-light;
	padding: 1em;
	margin: 1em 0;

	h3 { margin-bottom: 0.5em; }
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		     -o-transition: all .25s ease-out;
		 	    transition: all .25s ease-out; 	    
	}

	.row-offcanvas-right { right: 0; }
	.row-offcanvas-left { left: 0; }

	.row-offcanvas-right .sidebar-offcanvas { right: -50%; }
	.row-offcanvas-left .sidebar-offcanvas { left: -50%; }

	.row-offcanvas-right.active { right: 50%; }
	.row-offcanvas-left.active { left: 50%; }

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%;
	}

}

.gravatar {
	.thumbnail;
	.img-circle;
	border-color: @thumbnail-border;
	display: inline-block;
	margin: 0 10px 0 0;

	&:hover { border-color: @thumbnail-border-hover; }
}

hr { border-color: @gray; }

.coder-small {
	display: inline-block;
	.text-center;

	.gravatar {
		width: 50px;
		margin: 0 auto;
	}

	span { display: block; }
}

.comment-row {
	.row;
	vertical-align: top;
	margin-bottom: 0.5em;

	.coder-small {
		vertical-align: top;
		margin: 0 0.5em;
	}

	p {
		vertical-align: top;
		position: relative;
		display: inline-block;
		margin: 0;
		margin-top: 15px;
		max-width: 70%;
	}
}

.errorlist {
	color: @state-danger-text;
}
