#contents {
	margin: 1em;

	.content-container {
		border: solid 1px @gray;
		border-radius: @border-radius-base;
		padding: 1em;
		background-color: @gray;

		.row { margin-left: 0; }

		aside {
			background-color: @gray-dark;
			border: solid 1px @gray;
			border-radius: @border-radius-base;
			color: @gray-light;
			padding: 1em;
			font-size: 80%;
		}
	}
}
