#header {
	padding: 0; margin: 0;

	h1 {
		line-height: 80px;
		font-size: 35pt;
		text-indent: 25px;
		font-family: "Roboto", sans-serif;
	}

	canvas {
		position: absolute;
		z-index: -1;
	}

	nav {
		margin: 0 2em;
		padding: 0;

		ul {
			padding: 0;
			margin: 0;

			&:last-child { padding-right: 1em; }

			li { margin: 0; padding: 0; }
		}
	}
}
