{% load staticfiles %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Code Challenge (final name pending)</title>

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:300,400,500,700/Roboto:300,500,700/Raleway:200,300,500,600,900">

    {% if debug %}
        <link rel="stylesheet/less" type="text/less" media="all" href="{% static 'less/style.less' %}" />
        <script src="{% static 'less/dist/less-1.7.0.min.js' %}"></script>
    {% else %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/style.less' %}" />
        {% endcompress %}
    {% endif %}
</head>
<body>
    <div id="outer-wrap">
        <div id="inner-wrap">

            <header id="top" role="banner">
                <canvas id="binary_canvas" class="pull-right" width="500" height="125"></canvas>
                <h1><a href="{% url 'home' %}">Code Challenge</a></h1>
                <a href="#main-nav" id="nav-open-button" class="nav-button">Site navigation</a>
            </header>

            <nav id="main-nav" class="nav navbar navbar-inverse" role="navigation">
                <h2>Things to do</h2>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'challenge:index' %}"><i class="fa fa-trophy"></i> Challenges</a></li>
                    <li><a href="{% url 'coder:index' %}"><i class="fa fa-users"></i> Coders</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'coder:profile' user.username %}"><i class="fa fa-user"></i> {{ user.coder.webname }}</a></li>
                    <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth:login' %}">Login</a></li>
                    <li><a href="{% url 'auth:register' %}">Sign up</a></li>
                {% endif %}
                </ul>
                <a class="close-button sr-only" id="nav-close-button" href="#top">Return to content</a>
            </nav>

            <div id="contents" class="container-fluid" role="main">
                {% if messages %}
                    <ul class="messages list-unstyled nav nav-pills">
                    {% for message in messages %}
                        <li class="col-xs-12 alert alert-dismissable {% if message.tags %}alert-{{message.tags}}{% endif %}">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span>{{message}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <div class="content-container">
                {% block contents %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer class="navbar navbar-fixed-bottom">
        <small>
            <span>&copy; 2014</span>
            <span>Profile pictures provided by <a href="http://gravatar.com">Gravatar</a>.</span>
            <span>Website source code available on <a href="http://github.com/mavroskardia/codechallenge/">GitHub</a>.</span>
        </small>
    </footer>

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>

    <script src="{% static 'js/header_animator.js' %}"></script>
    <script src="{% static 'js/juicy.js' %}"></script>

    {% block extrascripts %}
    {% endblock %}
</body>
</html>