{% load staticfiles %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Challenge (final name pending)</title>
    {% if debug %}
        <link rel="stylesheet/less" type="text/less" media="all" href="{% static 'less/style.less' %}" />
        <script src="{% static 'less/dist/less-1.7.0.min.js' %}"></script>
    {% else %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/style.less' %}" />
        {% endcompress %}
    {% endif %}
</head>
<body>
    <header id="header">
        <canvas id="binary_canvas" class="pull-right" width="500" height="75"></canvas>
        <h1><a href="{% url 'home' %}">Code Challenge</a></h1>
        <nav class="navbar navbar-default navbar-inverse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'challenge:index' %}"><i class="fa fa-trophy"></i> Challenges</a></li>
                <li><a href="{% url 'coder:index' %}"><i class="fa fa-users"></i> Coders</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'coder:profile' user.username %}"><i class="fa fa-user"></i> {{ user.coder.webname }}</a></li>
                <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">Login</a></li>
                <li><a href="{% url 'auth:register' %}">Sign up</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <div id="contents" class="container-fluid">
        {% if messages %}
            <ul class="messages list-unstyled nav nav-pills">
            {% for message in messages %}
                <li class="col-xs-12 alert alert-dismissable {% if message.tags %}alert-{{message.tags}}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <span>{{message}}</span>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="content-container">
        {% block contents %}
        {% endblock %}
        </div>
    </div>
    <footer>
    </footer>

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>

    <script src="{% static 'js/header_animator.js' %}"></script>
    <script src="{% static 'js/juicy.js' %}"></script>

    {% block extrascripts %}
    {% endblock %}
</body>
</html>